<header>
    <div class="flex flex-row nav-bar justify-between items-center">
        <a href="/" class="">
            <div class="brand-img max-w-xs"><img src="/images/diary.jpg" alt="Diary"></div>
            <div class="brand">MyDiary</div>
        </a>

        <div class="nav-menu">
            <ul class="flex flex-row w-mav">
                <li class="mr-10"><a href="/">Home</a></li>
                <li class="mr-10"><a href="/about">About</a></li>
                <li class="mr-10"><a href="/blogs">Blog Diary</a></li>
                <li class="mr-10"><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
</header>