<footer>
  <div class="footer-top text-center p-4">
    <a href="#top" class="text-center p-4">Back to top</a>
  </div>
  <div class="footer-bottom container p-4">
    <div class="flex justify-between">
      <div class="get-to-know">
        <ul>
          <li>About Us</li>
          <li>Careers</li>
          <li>Press Release</li>
          <li>MyProducts Cares</li>
          <li>Gift a Smile</li>
        </ul>
      </div>
      <div class="connect">
        <ul>
          <li>Facebook</li>
          <li>Twitter</li>
          <li>Instagram</li>
        </ul>
      </div>
      <div class="make-money">
        <ul>
          <li>Sell on MyProduct</li>
          <li>Sell under MyProduct Accelerator</li>
          <li>MyProduct Global selling</li>
          <li>Become an Affiliate</li>
          <li>Fulfilment by MyProduct</li>
          <li>Advertise your Products</li>
          <li>MyProducts Pay on Merchants</li>
        </ul>
      </div>
      <div class="let-us-help-you">
        <ul>
          <li>Covid-19 and MyProducts</li>
          <li>Your Account</li>
          <li>Returns center</li>
          <li>100% purchase protection</li>
          <li>MyProducts App Download</li>
          <li>MyProducts Assistant Download</li>
          <li>Help</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center p-4">
      <small> Conditions of use and sale &copy; 2021, MyProducts Limited </small>
  </div>
</footer>
