<header>
  <div class="flex navigation">
    <a href="/">
      <h2>Home</h2>
    </a>  
    <div class="nav-buttons">
      <a href="/users/login" class="button"> Login </a>
      <a href="/users/register" class="button"> Register </a>
    </div>
  </div>
</header>
