/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*************************** Custom Styles begins here ********************/
html {
    font-size: 16px;
}
body {
    line-height: 1.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: #111827;
    color: #4B5563;
    position: relative;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
.button {
    display: inline-block;
    padding: .5rem .8rem;
    margin: 1rem 0;
    color: #92400E;
    border: 2px solid #FDE68A;
    font-weight: 700;
    border-radius: .5rem;
}
.button:hover {
    background-color: #FDE68A;
    color: #000;
}

/**************** Flex ****************/
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-20 {
    flex: 0 1 20%;
}
.flex-30 {
    flex: 0 1 30%;
}
.flex-45 {
    flex: 0 1 45%;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/************** Headings **************/
h1, h2, h3, h4 {
    font-weight: 700;
}
h1 {
    font-size: 2.5rem;
    margin: 1rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.8rem;
    
}
h4 {
    font-size: 1.4rem;
}

/************** Header **************/
.navigation {
    background-color: #60A5FA;
    box-shadow: 1px 1px 5px grey;
    padding: 1rem;
    margin-bottom: 2rem;
}


/************** Main **************/
.user-card-brief, .user-card-detail {
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #A7F3D0;
    display: inline-block;
    font-size: 1.2rem;
    width: 30rem;
}

.user-card-detail {
    font-size: 1.5rem;
    background-color: #78350F;
    color: #D97706;    
    box-shadow: 1px 1px 5px #fff;
    border-radius: 1rem;
}
.user-card-detail .button {
    color: #fff;
}
.user-card-detail .button:hover {
    color: #000;
}



/* Form */
.form-container {
    width: 500px;
    padding: 1rem;
    border: .4rem double #F59E0B; 
    margin: 1rem auto;
}

input, button {
  width: 100%;
  padding: 0.8rem;
  border-radius: .5rem;
  background-color: #FDE68A;
  color:#78350F;
  font-size: 1rem;
  letter-spacing: 1px;
  border: 0;
  outline: 0;
  margin-bottom: 1rem;
}

button {
    font-weight: 700;
    background-color: #D97706;
    cursor: pointer;
}
button:hover {
    color: #fff;
    background-color: #B45309;
}

/************** Footer **************/
footer {
    padding: 1rem;
    background-color: #4B5563;
    color: #111827;
    bottom: 0;
    position: fixed;
    width: 100%;

}
small {
    font-size: .9rem;
}